{% extends 'SimpleTradeBundle::base.html.twig' %}

{% block body %}
    <h2>СРО</h2>
    {% if not user.isGod() %}
        {% if user.canI('/sros/add') %}
          <a href="{{ url('sros') }}/add" class="btn">Добавить</a>
        {% endif %}
    {% else %}
        <a href="{{ url('sros') }}/add" class="btn">Добавить</a>
    {% endif %}
    <table class="info-list-table table table-striped table-hover">
      <thead>
          <tr>
            <th width="6%">ID</th>
            <th width="30%">Название</th>
            <th>Действия</th>
          </tr>
      </thead>
      <tbody>
      {% for sro in sros %}
        <tr>
          <td>
            {{ sro.getId() }}
          </td>
          <td>
            {{ sro.getContent().getTitle() }}
          </td>
          <td>
            {% if not user.isGod() %}
                {% if user.canI('/sros/change') %}
                 <a href="{{ url('sros') }}/change/{{ sro.getId() }}">изменить</a>
                {% endif %}
                {% if user.canI('/sros/remove') %}
                 <a href="{{ url('sros') }}/remove/{{ sro.getId() }}" onclick="return confirm('Вы действительно хотите удалить СРО «{{ sro.getContent().getTitle() }}»?')">удалить</a>
                {% endif %}
                {% if user.canI('/sros/users') %}
                 <a href="{{ url('sros') }}/users/{{ sro.getId() }}">пользователи</a>
                {% endif %}
            {% else %}
                <a href="{{ url('sros') }}/change/{{ sro.getId() }}">изменить</a>
                <a href="{{ url('sros') }}/remove/{{ sro.getId() }}" onclick="return confirm('Вы действительно хотите удалить СРО «{{ sro.getContent().getTitle() }}»?')">удалить</a>
                <a href="{{ url('sros') }}/users/{{ sro.getId() }}">пользователи</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}