{% extends 'SimpleTradeBundle::base.html.twig' %}

{% block body %}
    <h2>Список тарифов</h2>
    <table class="info-list-table table table-striped table-hover">
      <thead>
          <tr>
            <th width="6%">ID</th>
            <th width="30%">Название</th>
			<th width="30%">Цена</th>
            <th>Действия</th>
          </tr>
      </thead>
      <tbody>
      {% for tariff in tariffs %}
        <tr>
          <td>
            {{ tariff.getId() }}
          </td>
          <td>
            {{ tariff.getTitle() }}
          </td>
		  <td>
            {{ tariff.getCost() }}
          </td>
          <td>
            {% if user.canI('/tariffs/change') %}
              <a href="{{ url('tariffs') }}/change/{{ tariff.getId() }}">изменить</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}
