<html>
  <head>
    <meta charset="utf-8">
    <title>simpleTrade</title>
  </head>
  <body>
    Компания: {{ name }} - {{ title }}<br>
    ИНН: {{ inn }}<br>
    КПП: {{ kpp }}<br>
    ОГРН: {{ ogrn }}<br>
    <h2>Сведения о лице, подписавшем Заявку</h2>
    <h3>Email:</h3> {{ email }}<br>
    <h3>Телефон:</h3> {{ phone }}<br>

  </body>
</html>
