{% extends 'SimpleTradeBundle::base.html.twig' %}

{% block body %}
<h2>Список шаблонов</h2>
<table class="info-list-table table table-striped table-hover">
      <thead>
          <tr>
            <th width="5%">ID</th>
            <th width="10%">Создан</th>
            <th width="20%">Заголовок</th>
            <th>Содержание</th>
            <th>Действия</th>
          </tr>
      </thead>
      <tbody>
	  <tr>
	  	<td>{{ entity.id }}</td>
	  	<td>{{ entity.createdAt|date('Y-m-d H:i:s', 'Europe/Moscow') }}</td>
	  	<td>{{ entity.getSubject() }}</td>
	  	<td>{{ entity.getBody() }}</td>
	  	<td>
			<a href="{{ path('templates_edit', { 'id': entity.id }) }}">редактировать</a>
			<form action="{{ path('templates_delete', { 'id': entity.id }) }}" method="post">
				{{ form_widget(delete_form) }}
				<button type="submit" class="btn btn-link">удалить</button>
			</form>
		</td>
	  </tr>
	</tbody>
</table>
<br><a href="{{ path('templates') }}" class="btn">Вернуться к списку</a>
{% endblock %}
