<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>SimpleTrade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block stylesheets %}
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset('css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset('css/validationEngine.jquery.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset('css/normalize.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" media="screen">
    <!--[if IE]><link rel="stylesheet" type="text/css" href="{{ asset('css/ie.css') }}" /><![endif]-->
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/ie8.css') }}" />
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% endblock %}

    {% block js %}
    <script src="{{ asset('js/jquery-1.8.2.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/jquery.validationEngine-ru.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/jquery.validationEngine.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/files.js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ asset('js/form.js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ asset('js/datetime.js') }}" type="text/javascript" charset="utf-8"></script>
    {% endblock %}

  </head>

  <body>
    <div class="wrapper container">
        <div class="inner">
            <div id="topline" class="row-fluid">
                <div class="span3"><a href="{{ url('public_index') }}"><i class="icon-home"></i><b>На главную</a></b></div>
                <div class="span3"><span>Дата:</span><span id="localDate"></span></div>
                <div class="span3"><span>Московское время:</span><span id="moscowTime"></span></div>
                <div class="span3"><span>Местное время:</span><span id="localTime"></span></div>
            </div>

            <div id="header" class="container">
                <div class="deco1">
                    <div class="deco2">
                        <a href="{{ url('public_index') }}" class="logo" title="На главную"><span>Единая строительная тендерная площадка</span></a>
                        <div class="header-pic"></div>
                    </div>
                </div>
            </div>

            <div id="menu">
				<!--<div class="table_cell"><a href="{{ url('public_index') }}">Аукционы</a></div>-->
				<div class="table_cell"><a href="{{ url('public_news') }}">Новости</a></div>
				<div class="table_cell"><a href="{{ url('public_register') }}">Регистрация</a></div>
				<div class="table_cell"><a href="{{ url('public_courses') }}">Курсы</a></div>
				<div class="table_cell"><a href="{{ url('public_specialists') }}">Специалисты</a></div>
				<div class="table_cell"><a href="{{ url('public_investments') }}">Инвестиции</a></div>
            </div>

            <div id="content">
              {% block body %}
              {% endblock %}
          </div>
        </div>
    </div>
  </body>
</html>