{% extends 'SimpleTradeBundle::base.html.twig' %}

{% block body %}
  <h2><a href="{{ url('cabinet') }}">Личный кабинет</a> » Редактирование пользователя {{ user.getLogin() }} </h2>
  <form action="" method="post" {{ form_enctype(form) }} class="form-horizontal">
	  {{ form_errors(form) }}

	  <fieldset>
		<legend>Основные сведения</legend>

		<div class="control-group">
            <div class="control-label">{{ form_label(form.login) }}</div>
            <div class="controls">
				{{ form_widget(form.login) }}
				<span class="help-inline">{{ form_errors(form.login) }}</span>
            </div>
		</div>

        <div class="control-group">
            <div class="control-label">{{ form_label(form.password) }}</div>
            <div class="controls">
				{{ form_widget(form.password) }}
				<span class="help-inline">{{ form_errors(form.password) }}</span>
            </div>
		</div>

		<div class="control-group">
            <div class="control-label">{{ form_label(form.name) }}</div>
            <div class="controls">
				{{ form_widget(form.name) }}
				<span class="help-inline">{{ form_errors(form.name) }}</span>
            </div>
		</div>

		<div class="control-group">
            <div class="control-label">{{ form_label(form.email) }}</div>
            <div class="controls">
				{{ form_widget(form.email) }}
				<span class="help-inline">{{ form_errors(form.email) }}</span>
            </div>
		</div>

		<div class="control-group">
            <div class="control-label">{{ form_label(form.phone) }}</div>
            <div class="controls">
				{{ form_widget(form.phone) }}
				<span class="help-inline">{{ form_errors(form.phone) }}</span>
            </div>
		</div>

		<div class="control-group">
            <div class="control-label">{{ form_label(form.position) }}</div>
            <div class="controls">
				{{ form_widget(form.position) }}
				<span class="help-inline">{{ form_errors(form.position) }}</span>
            </div>
		</div>

        <div class="control-group">
            <div class="control-label">{{ form_label(form.grounds) }}</div>
            <div class="controls">
				{{ form_widget(form.grounds) }}
				<span class="help-inline">{{ form_errors(form.grounds) }}</span>
            </div>
		</div>

		<div class="control-group">
            <div class="control-label">{{ form_label(form.regionId) }}</div>
            <div class="controls">
				{{ form_widget(form.regionId) }}
				<span class="help-inline">{{ form_errors(form.regionId) }}</span>
            </div>
		</div>

		<div class="control-group" style="display:none">
            <div class="control-label">{{ form_label(form.permissions) }}</div>
            <div class="controls">
				{{ form_widget(form.permissions) }}
				<span class="help-inline">{{ form_errors(form.permissions) }}</span>
            </div>
		</div>
	</fieldset>


	{{ form_rest(form) }}

	<div class="control-group">
		<div class="controls">
			<a href="{{ url('cabinet') }}">Отмена</a>
			<input type="submit" value="Сохранить" class="btn" />
		</div>
	</div>
  </form>
{% endblock %}
