{% extends 'SimpleTradeBundle::base.html.twig' %}

{% block body %}
    <h2><a href="{{ url('cabinet') }}">Личный кабинет</a> » Список пользователей в компании {{ company.getContent().getName() }}</h2>
    {% if user.canI('/cabinet/users/add') %}
        <a href="{{ url('cabinet_users') }}/add" class="btn">добавить</a>
    {% endif %}
    <table class="info-list-table table table-striped table-hover">
      <thead>
          <tr>
            <th width="6%">ID</th>
            <th width="30%">Логин</th>
            <th>Действия</th>
          </tr>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          <td>
            {{ user.getId() }}
          </td>
          <td>
            {{ user.getLogin() }}
          </td>
          <td>
            {#{% if user.canI('/cabinet/users/remove') %}
                <a href="{{ url('cabinet_users') }}/remove/{{ user.getId() }}">удалить</a>
            {% endif %}
            
            {% if user.canI('/cabinet/users/change') %}
                <a href="{{ url('cabinet_users') }}/change/{{ user.getId() }}">изменить</a>
            {% endif %}#}
          </td>
        </tr>
      {% endfor %}
    </table>
{% endblock %}