{% extends 'SimpleTradeBundle::base.html.twig' %}

{% block body %}
<h2>Личный кабинет</h2>
<div class="tabbable">
    <ul class="nav nav-tabs">
        {% if user.canI('/companies') %}
        <li><a href="{{ url('cabinet') }}/companies">Компании пользователя</a></li>
        {% endif %}
        {% if user.canI('/cabinet/users') %}
        <li><a href="{{ url('cabinet') }}/users">Пользователи компании</a></li>
        {% endif %}
        {% if user.canI('/cabinet/companies/change') %}
        <li><a href="{{ url('cabinet') }}/companies/change">Изменение компании</a></li>
        {% endif %}
        {% if company.getType().getName() == 'PERFORMER' %}
             {% if user.canI('/cabinet/companies/change/skills') %}
             <li><a href="{{ url('cabinet') }}/companies/change/skills">Изменение квалификаций</a></li>
             {% endif %}
        {% endif %}
        {% if user.canI('/cabinet/user/change') %}
        <li><a href="{{ url('cabinet') }}/user/change">Изменение пользователя</a></li>
        {% endif %}
        {% if user.canI('/cabinet/companies/documents') %}
        <li><a href="{{ url('cabinet') }}/companies/documents">Документы компании</a></li>
        {% endif %}
		{% if company.getType().getName() == 'PERFORMER' %}
			{% if user.canI('/cabinet/sros') %}
			<li><a href="{{ url('cabinet') }}/sros">Мои СРО</a></li>
			{% endif %}
		{% endif %}
    </ul>
</div>
{% endblock %}