{% extends 'SimpleTradeBundle::base.html.twig' %}

{% block body %}

<h2></h2>
<h3><b>Шапка заявки</b></h3>
Номер извещения о проведении аукциона: {{ offer.getAuction().getContent().getNoticeNumber() }}<br>
Номер редакции извещения о проведении аукциона: ???<br>
Краткое название аукциона: {{ offer.getAuction().getContent().getName() }}<br>
Наименование организатора аукциона: {{ offer.getAuction().getContent().getCompanyName() }}<br>
Начальная (максимальная) цена контракта: {{ offer.getAuction().getContent().getStartPrice() }}<br>
Валюта контракта: {{ offer.getAuction().getContent().getCurrency().getTitle() }}<br>
Обеспечение заявки (если есть): ???<br>
<br>
Регион: {{ offer.getAuction().getContent().getRegion().getTitle() }}<br>
Квалификации: -<br>
<br>
<h3><b>Первая часть заявки</b></h3>
ИНН: {{ company.getContent().getInn() }}<br>
КПП: {{ company.getContent().getKpp() }}<br>
Название компании: {{ company.getContent().getName() }}<br>
E-mail: {{ user.getEmail() }}<br>
ФИО  пользователя: {{ user.getName() }}<br>
<br>
<h3><b>Документация</b></h3>

		{% for file in files %}
			<div class="control-group">
				<div class="control-label">{{ file.filename }}</div>
				<div class="controls">
					<a href="{{ path('offers_get_doc', {'id': offer.getId(), 'idFile': file['id']}) }}" target="_blank">Скачать</a>
					<!--<a href="{{ path('offers_get_doc', {'id': offer.getId(), 'idFile': 5}) }}" target="_blank">-->
				</div>
			</div>
		{% endfor %}

  <br><br>

  {% if offer.getStatus().getName() == 'ON_CONSIDERATION' %}
	  {% if app.user.canI('/requests/complaints/add') %}
		<a href="{{ url('requests_complaints') }}/add/{{ company.getId() }}">Подать жалобу на компанию</a>
	  {% endif %}
      {% if app.user.canI('/offers/allow') %}
		<a href="{{ path('offers_allow', {'id': offer.getId()}) }}">Разрешить</a>
	  {% endif %}
      {% if app.user.canI('/offers/reject') %}
		<a id="reject_link_id" href="">Отклонить</a>
		<form action="{{ path('offers_reject', {'id': offer.getId()}) }}" id="form_id" method="POST" style="display: none;">
			<br>
			Причина отклонения:<br>
			<textarea name="reason"></textarea>
			<input type="submit" value="Отправить на отклонение" class="btn">
		</form>
		<script type="text/javascript">
			$(document).ready(function(){
				$('#reject_link_id').click(function(){
					$('#form_id').toggle();
					return false;
				});
			});
		</script>
      {% endif %}
  {% endif %}

{% endblock %}